html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background_main: #0a100dff;
  --background_second: #909590;
  --background_second_shade: #d6d5c9ff;
  --text: #30362f;
  --text_shade: #902923ff;
  --number_color: #c92a2a;
  /* #6450DA */
}
body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
  background-color: var(--background_main);
}
main {
  margin: 200px 0;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  background-color: #fff4e6;
  justify-items: center;
  align-items: center;
}
.exchanges {
  /* display: flex; */
  max-width: 120rem;
}
.exchange {
  width: 30rem;
  margin: 0 auto;
  border-radius: 2rem;
  padding: 2rem 0;
}
.exchange_img_box {
  padding: 0 2rem 4rem;
  position: relative;
}
.exchange_img {
  width: 100%;
}
.exchange_name {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0.5rem 0;
}
.exchange_limit {
  font-size: 3.2rem;
  font-weight: 700;
  /* letter-spacing: 0.75px; */
}
.exchange_register_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.exchange_register_link:link,
.exchange_register_link:visited {
  display: inline-block;
  align-self: center;
  /* flex-basis: 100%; */
  text-decoration: none;
  text-align: center;
  border: 1px solid #333;
  box-shadow: 0 0 5px #333;
  border-radius: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
}
.exchange_register_link:hover,
.exchange_register_link:active {
  box-shadow: none;
}
.exchange_register_info {
  /* flex-basis: 100%; */
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.mail_icon {
  width: 24px;
}
.exchange_stables_title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}

.stable {
  display: flex;
  align-items: center;
}
.chain_icon {
  width: 25px;
  height: 25px;
  /* padding: 10px; */
  /* border-radius: 50%; */
}
.solana {
  /* padding: 10px; */
  /* background-color: black; */
}
.tron {
}
