html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --main-color: #51cf66;
  --background_main: #0a100dff;
  --background_second: #909590;
  --background_second_shade: #d6d5c9ff;
  --text: #30362f;
  --text_shade: #902923ff;
  --number_color: #c92a2a;
  /* #6450DA */
  /* EXCHANGES/STABLES/CHAINS COLORS */
  --kucoin_green: #23af91;
}

body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
  background-color: var(--background_main);
}

header {
  margin: 2rem 6.2rem;
}

main {
  margin: 20rem 0;
}

p {
  margin: 0;
}

.hidden {
  display: none;
}

.flexDir-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* *****HEADER***** */
.navigation {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation_link {
  font-size: 1.6rem;
  color: #ddd;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 0 0 3px #22b8cf;
}

.page_logo {
  width: 6rem;
  color: red;
}

/* *****RANKING***** */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  background-color: #eee;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
}

.exchanges {
  /* display: flex; */
  /* max-width: 120rem; */
  margin: 0 auto;
  margin: 5.2rem 6.2rem;
}
.exchanges_header {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 8.6rem;
}
.exchanges_header-text-small {
  color: var(--main-color);
  text-shadow: 0 0 1px var(--main-color);
  font-size: 1.2rem;
}
.exchanges_header-text-big {
  color: #ddd;
  /* text-shadow: 0 0 2px #eee; */
  font-size: 4.8rem;
  text-transform: uppercase;
}
.exchanges_header-update {
  color: #22b8cf;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.ranking_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 9.8rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* ########### EXCHANGE ########### */
.exchange {
  width: 32rem;
  /* margin: 0 auto; */
  border-radius: 2rem;
  padding: 2rem 0 2rem 0;
  border: 1px solid #22b8cf;
  -webkit-box-shadow: 0 0 1rem #22b8cf;
          box-shadow: 0 0 1rem #22b8cf;
}
.exchange_img_box {
  padding: 0 2rem 5rem 2rem;
  position: relative;
}
.exchange_img {
  display: block;
  width: 80%;
  border-radius: 2rem;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5);
}
.exchange_name {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0.5rem 0;
  margin: 0;
}
.exchange_limit {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--main-color);
  /* text-shadow: 4px 4px 5px black; */
  line-height: 1.2;
  /* letter-spacing: 2px; */
}
.exchange_limit span {
  display: block;
  color: #333;
  text-shadow: 0 0 0.5px #333;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
.exchange_register_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100%;
}
.exchange_register_link:link, .exchange_register_link:visited {
  display: inline-block;
  -ms-flex-item-align: center;
      align-self: center;
  /* flex-basis: 100%; */
  text-decoration: none;
  text-align: center;
  border: 0.3rem solid var(--main-color);
  -webkit-box-shadow: 0 0 1.2rem var(--main-color);
          box-shadow: 0 0 1.2rem var(--main-color);
  border-radius: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  color: #333;
  /* text-shadow: 0 0 1px var(--main-color); */
  font-weight: 700;
}
.exchange_register_link:hover, .exchange_register_link:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0 0 0.3rem var(--main-color);
          box-shadow: 0 0 0.3rem var(--main-color);
}
.exchange_register_info {
  /* flex-basis: 100%; */
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 0.05rem #333;
}
.exchange_register_info span {
  font-size: 0.8rem;
}

.ascendex {
  background-color: #222;
}

.kucoin {
  background-color: var(--kucoin_green);
}

.required_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3rem;
}
.required_icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #15aabf;
  -webkit-filter: drop-shadow(0 0 0.1rem #15aabf);
          filter: drop-shadow(0 0 0.1rem #15aabf);
}

/* ########### EXCHANGE STABLES ########### */
.exchange_stables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* height: 35rem; */
}
.exchange_stables::before {
  content: "";
  width: 20rem;
  height: 0.1rem;
  background-color: #22b8cf;
  -webkit-box-shadow: 0 0 0.5rem #22b8cf;
          box-shadow: 0 0 0.5rem #22b8cf;
  margin: 0 auto 1rem auto;
}
.exchange_stables_title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 0 0 0.05rem #333;
}

.chevron-fold,
.chevron-unfold {
  height: 2rem;
  stroke: var(--main-color);
  cursor: pointer;
}

.stable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* width: 200px; */
  gap: 0.5rem;
}
.stable_flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  width: 7rem;
}
.stable_icon {
  width: 2rem;
  height: 2rem;
}
.stable_name {
  font-size: 1.2rem;
  font-weight: 600;
}

.stables_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  /* padding: 0 1rem; */
}

.chain_icon {
  width: 2rem;
  height: 2rem;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.small_icon {
  width: 1.8rem;
  height: 1.8rem;
}

.unavailable {
  -webkit-filter: opacity(40%);
          filter: opacity(40%);
}

.grid-3-columns {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}

.vertical-text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(51, 51, 51, 0.6);
}

.chains {
  grid-column: 1/-1;
  grid-row: 1;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(51, 51, 51, 0.6);
  padding: 0.5rem 0 0.5rem 10rem;
  letter-spacing: 2px;
}
.chains_explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 2rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 5.2rem 6.2rem;
  padding: 0.8rem 2rem;
  background-color: #eee;
  border-radius: 9px;
  border: 1px solid #22b8cf;
  -webkit-box-shadow: 0 0 1rem #22b8cf;
          box-shadow: 0 0 1rem #22b8cf;
}
.chains_explanation div {
  width: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #222;
  font-weight: 600;
  text-align: center;
}